
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* .open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
} */





*{
    margin: 0;
    padding: 0;

    /* .open-sans-font */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}


.btn-primary{
    background-color:rgba(253, 110, 10, 1);
    padding:20px 35px;
    border:none;
    border-radius:5px;
    color:#fff;
    font-size:20px;
    font-weight:600px

}

.container{
    width: 1240px;
    margin: 0 auto
}

/* Header Section Style  */
#header{
    padding-top:50px
}
#navbar{
    display: flex;
    align-items:center;
    justify-content:space-between;
}
#navbar .logo h2{
    font-size: 48px;
    font-weight:800px
}

.menu{
    display:flex;
    gap:51px;
    align-items:center;
    list-style-type: none;
}

.menu a{
    font-size: 20px;
    color:rgba(71, 71, 71, 1);
    text-decoration:none;
    
}