
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* .open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
} */





*{
    margin: 0;
    padding: 0;

    /* .open-sans-font */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.text-highlight{
    color:rgba(253, 110, 10, 1);
}
.btn-primary{
    background-color:rgba(253, 110, 10, 1);
    padding:20px 35px;
    border:none;
    border-radius:5px;
    color:#fff;
    font-size:20px;
    font-weight:600px

}

.container{
    width: 1240px;
    margin: 0 auto
}

/* Header Section Style  */
#header{
    padding-top:50px;
    background-image: url('../images/developer.png'),url('../images/header_bg.png'); 
    background-repeat: no-repeat;
    background-position: left top, right bottom;
   background-size: contain;
}
#navbar{
    display: flex;
    align-items:center;
    justify-content:space-between;
}
#navbar .logo h2{
    font-size: 48px;
    font-weight:800px
}

.menu{
    display:flex;
    gap:51px;
    align-items:center;
    list-style-type: none;
}

.menu a{
    font-size: 20px;
    color:rgba(71, 71, 71, 1);
    text-decoration:none;
    
}


.banner{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.banner-content h3{
    font-size: 48px;
    font-weight: 600;
}

.banner-content h1{
    font-size: 85px;
    font-weight: 700;
}

.banner-content p {
    font-size: 18px;
    line-height: 30px;
    color:#757575;
    padding: 20px 0px;
}

.banner-img img{
    vertical-align: middle;
}

/* About Section Style */
#about{
    padding: 100px 0px;
}

.about{
    padding: 130px 150px;
    border-radius: 10px;
    background-color: #FFF8F3;
}



.about-content{
    margin-bottom: 50px;
    text-align: center;
}

.about-content h3{
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 700;
}
.about-content p{
    font-size: 18px;
    line-height: 30px;
    color:#757575;
}
.about-card{
    display:flex;
    align-items: center;
    justify-content:space-between;
    text-align: center;
    gap:20px
}

.about-card p {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 30px;
}